DASHSCOPE_API_KEY=sk-xxx
DASHSCOPE_REGION=cn

OSS_ACCESS_KEY_ID=LTAI...
OSS_ACCESS_KEY_SECRET=your-secret
OSS_BUCKET=your-bucket-name
OSS_ENDPOINT=https://oss-cn-shanghai.aliyuncs.com
OSS_SUBTITLE_PREFIX=subtitle-tool

BAILIAN_ASR_MODEL=qwen3-asr-flash-filetrans
BAILIAN_TRANSLATION_MODEL=qwen-plus
# BAILIAN_ASR_LANGUAGE=zh
SUBTITLE_EMBED_MODE=none
